@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
}
@mixin aval {
  @media (max-width: 1059px) {
    @content;
  }
}
@mixin duvum {
  @media (max-width: 700px) {
    @content;
  }
}

.contener {
  width: 100vw;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;

  .nav {
    display: flex;
    width: 83%;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    @include aval {
      width: 98%;
    }
    img {
      @include aval {
        width: 190px;
      }
    }
    .menu {
      width: 48%;
      height: 50px;
      display: flex;
      align-items: center;
      @include aval {
        width: 68%;
      }
      ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        align-items: center;
        @include duvum {
          justify-content: end;
        }
        img {
          margin-left: 30px;
          width: 50px;
          display: none;
          @include duvum {
            display: block;
          }
        }
        li {
          @include duvum {
            display: none;
          }
        }

        button {
          padding: 11px 20px;
          border-radius: 14px;
          background: #1b1a1a;
          color: rgb(255, 255, 255);
          border: none;

          &:hover {
            background: #686464;
            color: rgb(255, 255, 255);
          }
        }
      }
    }
  }
}

.contener1 {
  img {
    margin-left: 26px;

    @include aval {
      width: 90%;
      margin-left: 0px;
    }
    @include duvum {
      margin-left: 0px;
    }
  }
  overflow: hidden;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ece7e4;
  position: relative;
  @include aval {
    flex-wrap: wrap;
    justify-content: center;
  }
  .text {
    height: 566px;
    width: 600px;
    position: relative;
    left: 4%;
    padding: 55px;
    box-sizing: border-box;
    @include aval {
      width: 100%;
      left: 0px;
    }
    h2 {
      @include aval {
        margin-bottom: 31px !important;
      }
    }
    :nth-child(1) {
      font-family: Poppins;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 2px;
      text-align: left;
      color: #645c55;
      margin-bottom: 20px;
    }
    :nth-child(2) {
      font-family: Poppins;
      font-size: 64px;
      font-weight: 400;
      line-height: 70px;
      letter-spacing: 0em;
      text-align: left;
      color: #000000;
      margin-bottom: 22px;
    }

    :nth-child(3) {
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: #645c55;
      margin-bottom: 22px;
    }
    a {
      margin-top: 5px;
      margin-left: 31px;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.4000000059604645px;
      text-decoration: none;
      color: #000000;
    }
  }
}

.contener2 {
  width: 100%;
  height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
  .item {
    height: 582px;
    width: 768px;
    display: flex;
    justify-content: space-between;
    h1 {
      font-family: Poppins;
      font-size: 32px;
      font-weight: 400;
      line-height: 38px;
      letter-spacing: 0em;
      text-align: left;
    }
    div {
      width: 501px;

      p {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #403e3b;
        margin-bottom: 10px;
      }
      .log {
        width: 100%;
        height: 100px;
        display: flex;
        span {
          padding-top: 23px;
          padding-left: 35px;
          :nth-child(2) {
            font-family: Poppins;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0em;
            color: #645c55;
          }
        }
      }
    }
  }
}

.contener3 {
  width: 100%;
  height: 600px;
  background-image: url(/img/IMAGE\(3\).svg);
  background-size: cover;
  position: relative;
  div {
    height: 600px;
    width: 300px;
    position: absolute;
    right: 4%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    h3 {
      font-family: Poppins;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 2px;
      text-align: left;
      color: #403e3b;
    }
  }
}

.contener4 {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  .div {
    height: 381px;
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;

    .item {
      height: 82px;
      width: 600px;
      :nth-child(1) {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 2px;
        text-align: center;
        color: #645c55;
        margin-bottom: 6px;
      }
      :nth-child(2) {
        font-family: Poppins;
        font-size: 39px;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: center;
      }
    }
    .item2 {
      height: 259px;
      width: 1168px;
      display: flex;
      justify-content: space-between;
      .tem {
        height: 259px;
        width: 378.65625px;
        text-align: center;
        h2 {
          margin-top: 12px;
          font-family: Poppins;
          font-size: 18px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0em;
        }
        p {
          padding: 0px 39px;
          margin-top: 12px;
          font-family: Poppins;
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          color: #645c55;
        }
      }
    }
  }
}

.contener5 {
  background-image: url(/img/IMAGE\(5\).svg);
}

.contener6 {
  width: 100%;
  height: 410px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #403e3b;
  .item {
    width: 81%;
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .c1 {
      height: 160px;
      width: 460px;
      :nth-child(1) {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 2px;
        text-align: left;
        color: #ece7e4;
      }
      :nth-child(2) {
        margin-bottom: 14px;
        font-family: Poppins;
        font-size: 32px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
      }
      :nth-child(3) {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #ece7e4;
      }
    }
    .c2 {
      height: 290px;
      width: 432px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      img {
        padding: 10px;
      }
    }
  }
}

.contener7 {
  background-image: url(/img/IMAGE\(10\).svg);
  div {
    left: 4%;
  }
}

.contener8 {
  width: 100%;
  height: 918px;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  .item {
    width: 83%;
    height: 698px;

    .c1 {
      width: 50%;
      :nth-child(1) {
        font-family: Poppins;
        font-size: 39px;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 15px;
      }
      :nth-child(2) {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #645c55;
      }
    }
    .c2 {
      margin-top: 40px;
      display: flex;
      width: 96%;
      flex-wrap: wrap;
      img {
        margin-right: 10px;
      }
    }
  }
}

.contener9 {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  .item {
    width: 81%;
    height: 392px;
    display: flex;
    justify-content: space-between;
    .c1 {
      height: 392px;
      width: 378px;
      h1 {
        font-family: Poppins;
        font-size: 32px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        color: #403e3b;
        margin-bottom: 30px;
      }
      p {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #645c55;
        margin-bottom: 40px;
      }
      span {
        margin-left: 10px;
      }
    }
    .c2 {
      height: 392px;
      width: 773px;
      display: flex;
      flex-wrap: wrap;

      .phot {
        height: 100px;
        width: 280px;
        display: flex;
        margin-right: 90px;
        div {
          margin-left: 26px;
          margin-top: 24px;
          h3 {
            font-family: Poppins;
            font-size: 17px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
          }
          p {
            font-family: Poppins;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0em;
            text-align: left;
            color: #645c55;
          }
        }
      }
    }
  }
}

.contener10 {
  width: 100%;
  height: 314px;
  background-color: #cec4bc;
  display: flex;
  align-items: center;
  justify-content: center;
  .item {
    width: 83%;
    height: 114px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .c1 {
      width: 50%;
      p {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 2px;
        text-align: left;
        color: #645c55;
      }
      h2 {
        font-family: Poppins;
        font-size: 40px;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
    h4 {
      margin-right: 24px;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.4000000059604645px;
      text-align: left;
    }
  }
}
.contener11 {
  height: 204px;
  background-color: #ffffff;
  p {
    margin-top: 20px;
  }
  i {
    font-size: 30px;
    margin-right: 33px;
  }
}
