@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
}

.contener {
  width: 100vw;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navbar .nav {
  display: flex;
  width: 83%;
  height: 90px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1059px) {
  .navbar .nav {
    width: 98%;
  }
}
@media (max-width: 1059px) {
  .navbar .nav img {
    width: 190px;
  }
}
.navbar .nav .menu {
  width: 48%;
  height: 50px;
  display: flex;
  align-items: center;
}
@media (max-width: 1059px) {
  .navbar .nav .menu {
    width: 68%;
  }
}
.navbar .nav .menu ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  align-items: center;
}
@media (max-width: 700px) {
  .navbar .nav .menu ul {
    justify-content: end;
  }
}
.navbar .nav .menu ul img {
  margin-left: 30px;
  width: 50px;
  display: none;
}
@media (max-width: 700px) {
  .navbar .nav .menu ul img {
    display: block;
  }
}
@media (max-width: 700px) {
  .navbar .nav .menu ul li {
    display: none;
  }
}
.navbar .nav .menu ul button {
  padding: 11px 20px;
  border-radius: 14px;
  background: #1b1a1a;
  color: rgb(255, 255, 255);
  border: none;
}
.navbar .nav .menu ul button:hover {
  background: #686464;
  color: rgb(255, 255, 255);
}

.contener1 {
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ece7e4;
  position: relative;
}
.contener1 img {
  margin-left: 26px;
}
@media (max-width: 1059px) {
  .contener1 img {
    width: 90%;
    margin-left: 0px;
  }
}
@media (max-width: 700px) {
  .contener1 img {
    margin-left: 0px;
  }
}
@media (max-width: 1059px) {
  .contener1 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.contener1 .text {
  height: 566px;
  width: 600px;
  position: relative;
  left: 4%;
  padding: 55px;
  box-sizing: border-box;
}
@media (max-width: 1059px) {
  .contener1 .text {
    width: 100%;
    left: 0px;
  }
}
@media (max-width: 1059px) {
  .contener1 .text h2 {
    margin-bottom: 31px !important;
  }
}
.contener1 .text :nth-child(1) {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: left;
  color: #645c55;
  margin-bottom: 20px;
}
.contener1 .text :nth-child(2) {
  font-family: Poppins;
  font-size: 64px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 22px;
}
.contener1 .text :nth-child(3) {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #645c55;
  margin-bottom: 22px;
}
.contener1 .text a {
  margin-top: 5px;
  margin-left: 31px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.400000006px;
  text-decoration: none;
  color: #000000;
}

.contener2 {
  width: 100%;
  height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contener2 .item {
  height: 582px;
  width: 768px;
  display: flex;
  justify-content: space-between;
}
.contener2 .item h1 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}
.contener2 .item div {
  width: 501px;
}
.contener2 .item div p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #403e3b;
  margin-bottom: 10px;
}
.contener2 .item div .log {
  width: 100%;
  height: 100px;
  display: flex;
}
.contener2 .item div .log span {
  padding-top: 23px;
  padding-left: 35px;
}
.contener2 .item div .log span :nth-child(2) {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  color: #645c55;
}

.contener3 {
  width: 100%;
  height: 600px;
  background-image: url(/img/IMAGE\(3\).svg);
  background-size: cover;
  position: relative;
}
.contener3 div {
  height: 600px;
  width: 300px;
  position: absolute;
  right: 4%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
.contener3 div h3 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: left;
  color: #403e3b;
}

.contener4 {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contener4 .div {
  height: 381px;
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
}
.contener4 .div .item {
  height: 82px;
  width: 600px;
}
.contener4 .div .item :nth-child(1) {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
  color: #645c55;
  margin-bottom: 6px;
}
.contener4 .div .item :nth-child(2) {
  font-family: Poppins;
  font-size: 39px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
}
.contener4 .div .item2 {
  height: 259px;
  width: 1168px;
  display: flex;
  justify-content: space-between;
}
.contener4 .div .item2 .tem {
  height: 259px;
  width: 378.65625px;
  text-align: center;
}
.contener4 .div .item2 .tem h2 {
  margin-top: 12px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}
.contener4 .div .item2 .tem p {
  padding: 0px 39px;
  margin-top: 12px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #645c55;
}

.contener5 {
  background-image: url(/img/IMAGE\(5\).svg);
}

.contener6 {
  width: 100%;
  height: 410px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #403e3b;
}
.contener6 .item {
  width: 81%;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contener6 .item .c1 {
  height: 160px;
  width: 460px;
}
.contener6 .item .c1 :nth-child(1) {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: left;
  color: #ece7e4;
}
.contener6 .item .c1 :nth-child(2) {
  margin-bottom: 14px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.contener6 .item .c1 :nth-child(3) {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #ece7e4;
}
.contener6 .item .c2 {
  height: 290px;
  width: 432px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contener6 .item .c2 img {
  padding: 10px;
}

.contener7 {
  background-image: url(/img/IMAGE\(10\).svg);
}
.contener7 div {
  left: 4%;
}

.contener8 {
  width: 100%;
  height: 918px;
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contener8 .item {
  width: 81%;
  height: 698px;
}
.contener8 .item .c1 {
  width: 50%;
}
.contener8 .item .c1 :nth-child(1) {
  font-family: Poppins;
  font-size: 39px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 15px;
}
.contener8 .item .c1 :nth-child(2) {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #645C55;
}
.contener8 .item .c2 {
  margin-top: 40px;
  display: flex;
  width: 95%;
}
.contener8 .item .c2 img {
  margin-right: 40px;
}/*# sourceMappingURL=stayle.css.map */